
RewriteEngine On






# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^\.]+)$ $1.php [NC,L]

						

				
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^event/(.*)$ event.php?webName=$1 [L]
	RewriteRule ^event/(.*)$ event.php?webName=$1 [L]
</IfModule>						
				
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

#AddType application/x-httpd-php .htm .html